<div class="app-nav">
    <img style="height:47px;" src="assets/USGS.jpg"/>
    <h1 class="nav-header">Short-Term Network Monitoring</h1>
</div>

<router-outlet></router-outlet>

<!--footer-->
<div id="usgsfooter">
    <p id="usgsfooterbar">
        <a target="_blank" href="https://www.usgs.gov/laws/accessibility.html" title="Accessibility Policy (Section 508)">Accessibility</a>
        <a target="_blank" href="https://www.usgs.gov/foia/" title="Freedom of Information Act">FOIA</a>
        <a target="_blank" href="https://www.usgs.gov/laws/privacy.html" title="Privacy policies of the U.S. Geological Survey.">Privacy</a>
        <a target="_blank" href="https://www.usgs.gov/laws/policies_notices.html" title="Policies and notices that govern information posted on USGS Web sites.">Policies and Notices</a>

    </p>

    <p id="usgsfootertext">
        <!--<a target="_blank" href="https://www.takepride.gov/"><img src="https://www.usgs.gov/images/footer_graphic_takePride.jpg" alt="Take Pride in America logo" title="Take Pride in America Home Page" width="60" height="58"></a>-->
        <a target="_blank" href="https://firstgov.gov/"><img src="https://www.usgs.gov/images/footer_graphic_usagov.jpg" alt="USA.gov logo" width="90" height="26" style="float: right; margin-right: 10px;" title="USAGov: Government Made Easy."></a>
        <a target="_blank" href="https://www.doi.gov/">U.S. Department of the Interior</a> |
        <a target="_blank" href="https://www.usgs.gov/">U.S. Geological Survey</a><br>
        Page Contact Information: <a target="_blank" href="mailto:storm_team_leader@usgs.gov ">Storm Team Leader</a><br>
        Page Last Modified: Monday, 06-June-2016
    </p>
</div>
